/* Estilos gerais */
body {
    background: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



header {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
    }

    nav li {
        margin-right: 20px;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    /* Estilos dos produtos */
    .produto {
        border: 1px solid #ddd;
        padding: 20px;
        margin: 10px;
        text-align: center;
        width: 200px;
        display: inline-block;
    }

    .produto img {
        max-width: 100%;
        height: auto;
    }

    .preco {
        font-weight: bold;
        color: #6b0303;
    }

    .banner{
            width: 100%;
            max-width: 100%;
            height: auto;
            border: 1px solid #ccc;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }



    .comprar {
        background-color: #007bff;
        color: #ffee00;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

    .comprar:hover {
        background-color: #cee6ff;
    }


aside{
    text-align: left 10px;
    
}

#wrapper{
    background-color: #000000;
    width:900px;
    float:inherit;
    position: relative;
    margin: 0 auto 0 auto;

}


#ammu{
    width: 200px;
    margin-left: 300px;
    height: 200px;
}

header{
    padding: 30px 0 5px 30px;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: lightyellow;
}



h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 12px;
    font-style: inherit;
    
}

h2{
    background-color: #000000;
    float: solid;
    padding-left: 10px;
    margin-right: 2px;
}

h3{
    color: rgb(0, 0, 0);
    text-align: center;
}

h5{
    margin-right: auto;
}

h6 {
    background-color: #FFD700; /* Amarelo (#FFD700) é usado como fundo */
    padding: 10px; /* Adicione preenchimento para espaço interno */
    text-align: center; /* Centralize o texto horizontalmente */
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #ff0000;
    font-size: 18px; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto, pode ser ajustada conforme necessário */
    margin: 0; /* Remova as margens padrão para evitar espaço extra */
}

.centero{
    margin-left: 500px;
}

nav{
    float: left;
    background-color: rgb(255, 0, 0);
}
.minha-div {
    background-color: #ffffff  ;
    font-family: Arial, sans-serif;
    color: #ffee00  ;
    margin:  5px solid #ffffff  ;
    border-bottom: 5px solid#ffffff  ;
    text-align: left; 
}


/*Estilos CSS para o menu */ 
ul {
    list-style-type: none;
    margin-left: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 30, 30);
    overflow: hidden;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

footer {
    background-color: #ff0000;
    font-family: Impact, Impact, HaettenschweilerS, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.image2{
    height: 40px;
    margin: 40px;
    
}



.minha-div h2 {
    text-decoration: underline;
}