/* Estilos Globais */
body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #2f00ff;
    text-decoration: none;
}

/* Estilos para Produtos */
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.produto {
    border: 1px solid;
    text-align: center;
    margin: 20px;
}

.img3{
    padding: top 15px;
}

.produto img {
    max-width: 100%;
}

.preco {
    font-weight: bold;
}

button.adicionar-ao-carrinho {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}

/* Estilos para Carrinho de Compras */
.carrinho {
    text-align: center;
    padding: 20px;
}

.itens-carrinho {
    list-style-type: none;
    padding: 0;
}

.itens-carrinho li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.total {
    font-weight: bold;
}

/* Estilos para Formulário de Checkout */
.checkout {
   color: #ff0000;
   border: 20px #000000;
    text-align: center;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ff3232;
    border-radius: 4px;
}

button.finalizar-compra {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}



#wrapper{
    background-color: #000000;
    width:900px;
    float:inherit;
    position: relative;
    margin: 0 auto 0 auto;

}


 

header{
    padding: 30px 0 5px 30px;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: lightyellow;
}



h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 12px;
    font-style: inherit;
    
}

h2{
    background-color: #ffffff;
    float: solid;
    padding-left: 10px;
    margin-right: 2px;
}

h3{
    color: rgb(255, 255, 255);
    text-align: center;
}

h5{
    margin-right: auto;
}

h6 {
    background-color: #FFD700; /* Amarelo (#FFD700) é usado como fundo */
    padding: 10px; /* Adicione preenchimento para espaço interno */
    text-align: center; /* Centralize o texto horizontalmente */
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #ff0000;
    font-size: 18px; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto, pode ser ajustada conforme necessário */
    margin: 0; /* Remova as margens padrão para evitar espaço extra */
}

.centero{
    margin-left: 500px;
}

nav{
    float: left;
    background-color: rgb(255, 0, 0);
}

.botao-voltar img {
    height: 45px;
    margin: 45px;
    vertical-align: middle; /* Alinhe a imagem verticalmente com o texto */
    margin-right: 5px; /* Espaçamento à direita da imagem */
}

footer {
    background-color: #ff0000;
    font-family: Impact, Impact, HaettenschweilerS, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
